<div class="mx-auto md:w-2/3 w-full">
  <div class="mb-8">
    <h1 class="font-bold text-4xl">Sign in to Clinch</h1>
  </div>

  <%= form_with url: signin_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, "Email Address", class: "block font-medium text-sm text-gray-700" %>
      <%= form.email_field :email_address,
          required: true,
          autofocus: true,
          autocomplete: "username",
          placeholder: "your@email.com",
          value: params[:email_address],
          class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :password, class: "block font-medium text-sm text-gray-700" %>
      <%= form.password_field :password,
          required: true,
          autocomplete: "current-password",
          placeholder: "Enter your password",
          maxlength: 72,
          class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.submit "Sign in",
          class: "w-full rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
    </div>

    <div class="mt-4 text-sm text-gray-600 text-center">
      <%= link_to "Forgot your password?", new_password_path, class: "text-blue-600 hover:text-blue-500 underline" %>
    </div>
  <% end %>
</div>
